body {
  background-image: url("images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin: 20px;
  color: #218c74;
}

.form-container {
  max-width: 500px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

img {
  margin-bottom: 8px;
}

.section {
  display: none;
}

#section-1 {
  display: block;
}